<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Courses</title>
        {% load staticfiles %}
       <link rel="stylesheet" href="{% static 'courses/css/master.css' %}"media="screen" title="no title"  charset="utf-8">
    </head>
    <body>
        <h3>Add a new course</h3>
        <form action="{% url 'add_course' %}" method="post">
            {% csrf_token %}
            <label>Name :           <br><input type="text"     name="name"      id='name'/>     </label><br>
            <label>Description :     <br><textarea name="description"  rows="8" cols="40" id='description'>  </textarea>
                                     <br><input type="submit"   name="submit" value='Add'/>
        </form>
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}

        <table>
          <tr>
            <th>ID</th>
            <th>Course Name</th>
            <th>Description</th>
            <th class='action'>Action</th>
          </tr>
          {% for course in all_courses %}
          <tr>
            <th>{{ course.id }}</th>
            <th>{{ course.name }}</th>
            <th>{{ course.description }}</th>
            <th class='action'>
            <form  class='mybutton' action="{% url 'del_prompt' id=course.id %}" method="post">{% csrf_token %}<input id={{ course.id }} type="submit" name="{{ course.id }}" value="Delete"></form>
            </th>
          </tr>
          {% endfor %}
        </table>
    </body>
</html>
